 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(90deg, #4CE0D7 0%, #f46278 100%);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}